.movie__inner {
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        width: 23%;
        position: relative;
        em {
          display: block;
          height: 80px;
          margin-bottom: 30px;
          font-family: var(--font-kor2);
        }
        .title {
          padding: 5px 0;
          display: inline-block;
        }
        .star {
          background: rgba(255, 255, 255, 0.5);
          color: #000;
          position: absolute;
          left: 20px;
          top: 20px;
          width: 30px;
          height: 30px;
          border-radius: 50px;
          text-align: center;
          line-height: 30px;
          font-weight: 800;
        }
      }
    }
    a {
      color: var(--white);
    }
  }

.movie__search {
  margin-top: 50px;
    margin-bottom: 100px;

    .container {
        position: relative;
    }
    
    h2 {
        color: var(--white);
        font-size: 40px;
        text-indent: -9999px;
        height: 0;
        font-family: var(--font-kor);
    }
    input {
        background: #000;
        border: 1px solid var(--white);
        border-radius: 50px;
        color: var(--white);
        width: 100%;
        padding: 14px 20px;
        font-family: var(--font-kor);
    }
    button {
        position: absolute;
        right: 15px;
        top: 7px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0;
        font-family: var(--font-kor);
        font-weight: 400;
        z-index: 1000;
        background: #000;
        color: var(--white);
        cursor: pointer;
    }
}

.movie__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 100px;
  align-items: flex-end;

  h2 {
    color: var(--white);
    font-size: 2vw;
    font-family: var(--font-main);
  }

  p {
    color: var(--white);
    font-size: 1vw;
    font-family: var(--font-kor);
    font-weight: 700;
  }
}

.movie__inner {

  a {
    color: var(--white);
  }

  ul {
      width: 100%;
      display: flex;

      li {
          &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5) {
            display: inline;
          }

          // display: none;
          // position: relative;

          .good {
            border-radius: 50%;
            left: 10px;
            width: 20px;
            color: var(--font-color);
            top: 10px;
            position: absolute;
            height: 20px;
            font-weight: 500;
            line-height: 30px;
            text-align: center;
          }

          
          .title {
              display: inline-block;
              padding: 10px 0;
          }

          em {
            display: block;
            font-size: 1vw;
            height: 60px;
            margin-bottom: 20px;
            font-family: var(--font-kor);
          }   
      }
  }
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
}

#app {
  height: 100%;
}
html,
.movie__inner {
  position: relative;
  height: 100%;
}

.movie__inner {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

em {
  display: block;
  font-family: var(--font-main);
}
.score {
  font-weight: 800;
  border-bottom: 1px solid #000;
  color: #fff;
  right: 0px;
  width: 30px;
  top: -30px;
  position: absolute;
  height: 23px;
  text-align: center;
}
.title {
  padding: 5px 0;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-family: var(--font-kor);
}

.movie__tag {
  text-align: center;
  margin-bottom: 30px;

  button {
    font-size: 1vw;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
}