.movie__inner {
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        width: 23%;
        position: relative;
        em {
          display: block;
          height: 80px;
          margin-bottom: 30px;
          font-family: var(--font-kor2);
        }
        .title {
          padding: 5px 0;
          display: inline-block;
        }
        .star {
          background: rgba(255, 255, 255, 0.5);
          color: #000;
          position: absolute;
          left: 20px;
          top: 20px;
          width: 30px;
          height: 30px;
          border-radius: 50px;
          text-align: center;
          line-height: 30px;
          font-weight: 800;
        }
      }
    }
    a {
      color: var(--white);
    }
  }

.movie__search {
  margin-top: 50px;
    margin-bottom: 100px;

    .container {
        position: relative;
    }
    
    h2 {
        color: var(--white);
        font-size: 40px;
        text-indent: -9999px;
        height: 0;
        font-family: var(--font-kor);
    }
    input {
        background: #000;
        border: 2px solid var(--white);
        border-radius: 50px;
        color: var(--white);
        width: 100%;
        padding: 14px 20px;
        font-family: var(--font-kor);
    }
    button {
        position: absolute;
        right: 10px;
        top: 7px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0;
        font-family: var(--font-kor);
        font-weight: 400;
        cursor: pointer;
        z-index: 1000;
    }
}

.movie__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 100px;
  align-items: flex-end;

  h2 {
    color: var(--white);
    font-size: 2vw;
    font-family: var(--font-main);
  }

  p {
    color: var(--white);
    font-size: 1vw;
    font-family: var(--font-kor);
    font-weight: 400;
  }
}

.moviePopular {

  overflow-Y: auto;
  width: 50%;
  margin-bottom: 0px;
  margin: 0 auto;

  h2 {
    color: var(--white);
    font-family: var(--font-main);
    text-align: center;
    font-size: 2vw;
    margin-bottom: 20px;
  }

  a {
    color: var(--white);
  }

  ul {
      // width: 100%;
      // height: 750px;
      // display: flex;

      li {
          &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5) {
            display: inline;
          }

          display: none;
          position: relative;

          .good {
            border-radius: 50%;
            left: 10px;
            width: 20px;
            color: var(--font-color);
            top: 10px;
            position: absolute;
            height: 20px;
            font-weight: 400;
            line-height: 30px;
            text-align: center;
          }

          
          .title {
              display: inline-block;
              padding: 10px 0;
          }

          em {
            display: block;
            font-size: 1vw;
            height: 60px;
            margin-bottom: 20px;
            font-family: var(--font-kor);
          }
      }
  }
}

.swiper {
  width: 240px;
  height: 360px;
}

.swiper-slide li a img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(0, 0, 0);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 0, 0);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(0, 0, 0);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(0, 0, 0);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(0, 0, 0);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(0, 0, 0);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(0, 0, 0);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 0, 0);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(0, 0, 0);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(0, 0, 0);
}

// 스크롤바
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #5f5f5f;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}